<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}DG WEB{% endblock %}</title>
        <link rel="icon" href="/logo.ico">
        {% block stylesheets %}
            {{ vite_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            <script>
                const APP_URL_API = '{{ appUrlApi }}'
            </script>

            {{ vite_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="overflow-hidden">
    <div id="vue-app">
        {# L'appli Vue.js vivra ici #}
    </div>
    </body>
</html>
